@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro|Roboto:400,700");

/* Basic */

@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

html, body {
	height: 100%;
	overflow-x: hidden;
	width: 100%;
}

body {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background-color: #282828
}

/* Type */

body, input {
	color: rgba(255, 255, 255, 0.75);
	font-family: "Roboto", sans-serif;
	font-size: 16pt;
	font-weight: 400;
	letter-spacing: -0.01em;
	line-height: 1.65em;
}

	@media screen and (max-width: 1680px) {

		body, input {
			font-size: 12pt;
		}

	}

p {
	margin: 0 0 2em 0;
}

h1 {
	color: #dc9656;
	font-weight: 700;
	line-height: 1em;
	margin: 0 0 1em 0;
	font-family: "Source Code Pro", monospace;
	font-size: 2.5em;
	line-height: 1.25em;
}

h3 {
  color: white;
  position: relative;
  font-family: "Roboto";
  font-weight: 200;
}

/* Section/Article */

header p {
	color: white;
	position: relative;
	margin: 0 0 1.5em 0;
}

/* Form */

input[type="text"],
input[type="number"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-moz-transition: border-color 0.2s ease, background-color 0.2s ease;
	-webkit-transition: border-color 0.2s ease, background-color 0.2s ease;
	-ms-transition: border-color 0.2s ease, background-color 0.2s ease;
	transition: border-color 0.2s ease, background-color 0.2s ease;
	background-color: transparent;
	border-radius: 6px;
	border: none;
	border: solid 2px rgba(255, 255, 255, 0.70);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
}

	input[type="text"]:focus,
  input[type="number"]:focus {
		-moz-animation: focus 0.1s;
		-webkit-animation: focus 0.1s;
		-ms-animation: focus 0.1s;
		animation: focus 0.1s;
		background-color: rgba(255, 255, 255, 0.125);
		border-color: #1cb495;
	}

input[type="text"] {
	height: 2.75em;
}

/* Button */

input[type="submit"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
	background-color: #dc9656;
	border-radius: 6px;
	border: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: #ffffff !important;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	height: 2.75em;
	line-height: 2.75em;
	padding: 0 1.125em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

	input[type="submit"]:hover {
		background-color: #f7ca88;
	}

/* Header */

#header h1 {
	font-size: 3.25em;
	margin: 0 0 0.55em 0;
}

#header p {
	font-size: 1.35em;
	line-height: 1.65em;
}


/* Search Form */

#search-form {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	position: relative;
}

	#search-form input[type="text"] {
		width: 50em;
	}

	#search-form > * {
		margin: 0 0 0 0.1em;
	}

	#search-form > :first-child {
		margin: 0 0 0 0;
	}

#searchbtn{
    position: relative;
    left: -175px;
    top: 5px;
    float: right;
}

#seed {
    position: relative;
    width: 50em;
    height: 2.26em;
}
#depth {
    width: 100px;
    display: inline-block;
    margin-right: 10px;
    height: 1.75em;
}
#external {
    display: inline-block;
}
