<!DOCTYPE HTML>
<html>
	<head>
		<title>Search Engine</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1>Search Engine</h1>
				<p>An Untitled Search Engine</p>
			</header>

		<!-- Form -->
			<form id="search-form" method="post" action="#">
				<input type="text" name="query" id="query" placeholder="Enter Query" />
				<input type="submit" value="Search" />
			</form>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.github.com/kasuporo/search-engine"><span class="label">GitHub</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; 2017.</li><li>Credits: Me</li>
				</ul>
			</footer>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ url_for('static',filename='js/main.js') }}"></script>

	</body>
</html>
