<!DOCTYPE HTML>
<html>
	<head>
		<title>Viperidae Search Engine</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
	</head>
	<body>
		<!--- Sets Background Image --->
		<style type=text/css>
			body { background-image: url({{ background }});
			background-position: center;
			background-size: cover;
			-webkit-background-size: cover;
    		-moz-background-size: cover;
    		-o-background-size: cover;
			}
		</style>

		<!-- Header -->
			<header id="header">
				<h1 style="font-family: source code pro">viperidae</h1>
				<p>A small scale text and web search engine. Built in Python. Named after a snake.</p>
			</header>

		<!-- Form -->
			<form id="search-form" method="post" action="#">
				<input type="text" name="query" id="query" placeholder="Enter Query" />
				<input type="submit" value="Search" />
			</form>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.github.com/kasuporo/search-engine"><span class="label">GitHub</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; 2017</li><li>Background courtesy of NASA's image of the day</li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='js/main.js') }}"></script>
	</body>
</html>
