<!DOCTYPE HTML>
<html>
	<head>
		<title>Viperidae Search Engine</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
		<!-- Scripts -->
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="{{ url_for('static',filename='js/main.js') }}"></script>
	</head>

	<body>
		<!-- Header -->
		<header id="header">
			<h1>viperidae</h1>
		</header>

		<!-- Form -->
		<form id="search-form" method="POST" action="/results">
		<div style="width: 20%; float:center">
          <input type="text" name="query" id="query" placeholder="Search" />
		</div>

	    <div id="options" class="options">
	      <label>Depth<label>
	      <input type="number" name="depth" id="depth" min="1" max="5" />
	      <input type="checkbox" name="external" id="external" />
	      <label>Include external links</label>
		  <input type="text" name="seed" id="seed" placeholder="Seed" />
		  <div id='error'><label>urls start with 'http(s)://www.'</label></div>
		  <input type="submit" value="Search" id="searchbtn" />
		</div>
    </form>
	</body>
</html>
